/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

body {
  display: grid;
  grid-template-columns: 1;
  align-content: center;
  background: rgba(233, 67, 103, 0.83);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; */
  font-family: "Comic Relief", system-ui; 
  color: CanvasText;
  color-scheme: light dark;
  justify-content: center;
  height: 100vh;

  h1,
  h2,
  p {
    color: black;
  }
}


/* @media (max-width: 768px) {
  body {
    background-attachment: scroll;
    background-position: top center;
    font-size: 90%;
  } */
